In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
from sklearn.decomposition import NMF
from sklearn.preprocessing import Normalizer, MaxAbsScaler
from sklearn.pipeline import make_pipeline

# A tf-idf word-frequency array

In [18]:
documents=['cats say meow', 'dogs say woof', 'dogs chase cats']

# Create a TfidfVectorizer: tfidf
tfidf = TfidfVectorizer()

# Apply fit_transform to document: csr_mat
csr_mat = tfidf.fit_transform(documents)

# Print result of toarray() method
print(csr_mat.toarray())

# Get the words: words
words =tfidf.get_feature_names()

# Print words
print(words)

[[0.51785612 0.         0.         0.68091856 0.51785612 0.        ]
 [0.         0.         0.51785612 0.         0.51785612 0.68091856]
 [0.51785612 0.68091856 0.51785612 0.         0.         0.        ]]
['cats', 'chase', 'dogs', 'meow', 'say', 'woof']

# Clustering Wikipedia part

In [3]:
df = pd.read_csv('wikipedia-vectors.csv')

In [4]:
df.T.to_csv('wikipedia-vectors2.csv')
articles = pd.read_csv('wikipedia-vectors2.csv')

In [5]:
# Create a TruncatedSVD instance: svd
svd = TruncatedSVD(n_components=50)

# Create a KMeans instance: kmeans
kmeans = KMeans(n_clusters=6)

# Create a pipeline: pipeline
pipeline = make_pipeline(svd,kmeans)

In [6]:
articles.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,13115,13116,13117,13118,13119,13120,13121,13122,13123,13124
0,HTTP 404,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,Alexa Internet,0.0,0.0,0.029607,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,Internet Explorer,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.003772,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011594,0.000000,0.0
3,HTTP cookie,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,Google Search,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.006649,0.0

In [7]:
titles=articles.loc[:,'Unnamed: 0']

In [8]:
articles1=articles.drop(['Unnamed: 0'],axis=1).values

In [9]:
# Fit the pipeline to articles
pipeline.fit(articles1)

# Calculate the cluster labels: labels
labels = pipeline.predict(articles1)

# Create a DataFrame aligning labels and titles: df
df = pd.DataFrame({'label': labels, 'article': titles})

# Display df sorted by cluster label
print(df.sort_values('label'))

                                          article  label
29                               Jennifer Aniston      0
28                                  Anne Hathaway      0
27                                 Dakota Fanning      0
26                                     Mila Kunis      0
25                                  Russell Crowe      0
24                                   Jessica Biel      0
23                           Catherine Zeta-Jones      0
22                              Denzel Washington      0
21                             Michael Fassbender      0
20                                 Angelina Jolie      0
0                                        HTTP 404      1
4                                   Google Search      1
1                                  Alexa Internet      1
2                               Internet Explorer      1
3                                     HTTP cookie      1
5                                          Tumblr      1
6                     Hypertext Transfer Protocol      1
7                                   Social search      1
8                                         Firefox      1
9                                        LinkedIn      1
58                                         Sepsis      2
59                                    Adam Levine      2
51                                     Nate Ruess      2
52                                     The Wanted      2
53                                   Stevie Nicks      2
54                                 Arctic Monkeys      2
55                                  Black Sabbath      2
56                                       Skrillex      2
57                          Red Hot Chili Peppers      2
50                                   Chad Kroeger      2
42                                    Doxycycline      3
43                                       Leukemia      3
44                                           Gout      3
45                                    Hepatitis C      3
49                                       Lymphoma      3
47                                          Fever      3
48                                     Gabapentin      3
41                                    Hepatitis B      3
46                                     Prednisone      3
40                                    Tonsillitis      3
11       Nationally Appropriate Mitigation Action      4
19  2007 United Nations Climate Change Conference      4
12                                   Nigel Lawson      4
13                               Connie Hedegaard      4
10                                 Global warming      4
14                                 Climate change      4
15                                 Kyoto Protocol      4
16                                        350.org      4
17  Greenhouse gas emissions by the United States      4
18  2010 United Nations Climate Change Conference      4
38                                         Neymar      5
30                  France national football team      5
31                              Cristiano Ronaldo      5
32                                   Arsenal F.C.      5
33                                 Radamel Falcao      5
34                             Zlatan IbrahimoviÄ‡      5
36              2014 FIFA World Cup qualification      5
37                                       Football      5
39                                  Franck RibÃ©ry      5
35                Colombia national football team      5

# NMF applied to Wikipedia articles

In [10]:
# Create an NMF instance: model
model =NMF(n_components=6)

# Fit the model to articles
model.fit(articles1)

# Transform the articles: nmf_features
nmf_features = model.transform(articles1)

# Print the NMF features
print(nmf_features)

[[0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 4.40469565e-01]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 5.66610790e-01]
 [3.82027256e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 3.98650734e-01]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 3.81743552e-01]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 4.85522092e-01]
 [1.29281754e-02 1.37894214e-02 7.76340609e-03 3.34457763e-02
  0.00000000e+00 3.34525964e-01]
 [0.00000000e+00 0.00000000e+00 2.06748288e-02 0.00000000e+00
  6.04386412e-03 3.59064382e-01]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 4.90981792e-01]
 [1.54262982e-02 1.42821549e-02 3.76643718e-03 2.37093104e-02
  2.62574982e-02 4.80779509e-01]
 [1.11730893e-02 3.13687747e-02 3.09493836e-02 6.56946174e-02
  1.96642608e-02 3.38292872e-01]
 [0.00000000e+00 0.00000000e+00 5.30734104e-01 0.00000000e+00
  2.83631231e-02 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 3.56519139e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.20118888e-02 6.50056242e-03 3.12253880e-01 6.09723688e-02
  1.13841897e-02 1.92604918e-02]
 [3.93457857e-03 6.24453302e-03 3.42382706e-01 1.10760462e-02
  0.00000000e+00 0.00000000e+00]
 [4.63788850e-03 0.00000000e+00 4.34927081e-01 0.00000000e+00
  3.84209819e-02 3.08138125e-03]
 [0.00000000e+00 0.00000000e+00 4.83302433e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [5.64977331e-03 1.83538663e-02 3.76543389e-01 3.25435628e-02
  0.00000000e+00 1.13336382e-02]
 [0.00000000e+00 0.00000000e+00 4.80927040e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 9.01879679e-03 5.51023129e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 4.65982475e-01 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 1.14083010e-02 2.08661595e-02 5.17727557e-01
  5.81310144e-02 1.37857161e-02]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 5.10436145e-01
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 5.60115262e-03 0.00000000e+00 4.22347463e-01
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 4.36717769e-01
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 4.98053846e-01
  0.00000000e+00 0.00000000e+00]
 [9.88324702e-02 8.60058359e-02 3.91047231e-03 3.80988259e-01
  4.39162544e-04 5.22166443e-03]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 5.72125971e-01
  0.00000000e+00 7.13565779e-03]
 [1.31459628e-02 1.04855233e-02 0.00000000e+00 4.68870063e-01
  0.00000000e+00 1.16312154e-02]
 [3.84524542e-03 0.00000000e+00 0.00000000e+00 5.75666381e-01
  0.00000000e+00 0.00000000e+00]
 [2.25231251e-03 1.38741054e-03 0.00000000e+00 5.27905209e-01
  1.20244216e-02 1.49487437e-02]
 [0.00000000e+00 4.07554622e-01 1.85719568e-03 0.00000000e+00
  2.96560952e-03 4.52332952e-04]
 [1.53410371e-03 6.08182657e-01 5.22290525e-04 6.24804430e-03
  1.18424552e-03 4.40069669e-04]
 [5.38781681e-03 2.65021254e-01 5.38526662e-04 1.86911385e-02
  6.38543002e-03 2.90108377e-03]
 [0.00000000e+00 6.44926097e-01 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 6.08916602e-01 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 3.43690683e-01 0.00000000e+00 0.00000000e+00
  3.97728190e-03 0.00000000e+00]
 [6.10465717e-03 3.15317804e-01 1.54884234e-02 0.00000000e+00
  5.06159421e-03 4.74339679e-03]
 [6.47328268e-03 2.13331938e-01 9.49522433e-03 4.56945990e-02
  1.71885443e-02 9.52073769e-03]
 [7.99091105e-03 4.67602566e-01 0.00000000e+00 2.43406582e-02
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 6.42830280e-01 0.00000000e+00 2.35836000e-03
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  4.76999798e-01 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  4.94170065e-01 0.00000000e+00]
 [0.00000000e+00 2.99079811e-04 2.14497000e-03 0.00000000e+00
  3.81711870e-01 5.83793959e-03]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 5.64653509e-03
  5.42146755e-01 0.00000000e+00]
 [1.78047742e-03 7.84428469e-04 1.41632235e-02 4.59799732e-04
  4.24228300e-01 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  5.11302766e-01 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 3.28398602e-03 0.00000000e+00
  3.72821608e-01 0.00000000e+00]
 [0.00000000e+00 2.62090000e-04 3.61114973e-02 2.32326547e-04
  2.30470453e-01 0.00000000e+00]
 [1.12509844e-02 2.12330764e-03 1.60977340e-02 1.02477031e-02
  3.25404608e-01 3.75885948e-02]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  4.18885062e-01 3.57737523e-04]
 [3.08351755e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.68155663e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.97925208e-01 2.81707548e-02 3.67021959e-03 1.70053357e-02
  1.95932984e-03 2.11646856e-02]
 [3.75776048e-01 2.07523825e-03 0.00000000e+00 3.72125550e-02
  0.00000000e+00 5.85934611e-03]
 [4.38006564e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [4.57858397e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.75463626e-01 4.46963695e-03 0.00000000e+00 5.29614538e-02
  0.00000000e+00 1.90999849e-02]
 [4.45171933e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  5.48602880e-03 0.00000000e+00]
 [2.92725936e-01 1.33666895e-02 1.14266742e-02 1.05191890e-02
  1.87663722e-01 9.23976208e-03]
 [3.78247819e-01 1.43972602e-02 0.00000000e+00 9.85163543e-02
  1.35876696e-02 0.00000000e+00]]

# NMF features of the Wikipedia articles

In [11]:
# Create a pandas DataFrame: df
df = pd.DataFrame(nmf_features,index=titles)

# Print the row for 'Anne Hathaway'
print(df.loc['Anne Hathaway'])

# Print the row for 'Denzel Washington'
print(df.loc['Denzel Washington'])

0    0.003845
1    0.000000
2    0.000000
3    0.575666
4    0.000000
5    0.000000
Name: Anne Hathaway, dtype: float64
0    0.000000
1    0.005601
2    0.000000
3    0.422347
4    0.000000
5    0.000000
Name: Denzel Washington, dtype: float64

In [12]:
df.head()

                         0    1    2    3    4         5
Unnamed: 0
HTTP 404           0.00000  0.0  0.0  0.0  0.0  0.440470
Alexa Internet     0.00000  0.0  0.0  0.0  0.0  0.566611
Internet Explorer  0.00382  0.0  0.0  0.0  0.0  0.398651
HTTP cookie        0.00000  0.0  0.0  0.0  0.0  0.381744
Google Search      0.00000  0.0  0.0  0.0  0.0  0.485522

In [13]:
df=pd.read_csv('wikipedia_vocabulary_utf8.txt',header=0)
Words=df['Words']
df.shape

(13125, 1)

In [14]:
# Create a DataFrame: components_df
components_df = pd.DataFrame(model.components_,columns=Words)

# Print the shape of the DataFrame
print(components_df.shape)

# Select row 3: component
component = components_df.iloc[3]

# Print result of nlargest
print(component.nlargest())

(6, 13125)
Words
film       0.627925
award      0.253151
starred    0.245303
role       0.211467
actress    0.186412
Name: 3, dtype: float64

In [15]:
components_df.head()

Words,aaron,abandon,abandoned,abandoning,abandonment,abbas,abbey,abbreviated,abbreviation,abc,...,zealand,zenith,zeppelin,zero,zeus,zimbabwe,zinc,zone,zones,zoo
0,0.011376,0.001210,0.000000,0.001739,0.000136,0.0,0.0,0.002463,2.446296e-07,0.000834,...,0.025782,0.0,0.008324,0.000000,0.0,0.0,0.0,0.000000,0.000424,0.0
1,0.000000,0.000010,0.005663,0.000000,0.000002,0.0,0.0,0.000566,5.002454e-04,0.000000,...,0.008106,0.0,0.000000,0.001710,0.0,0.0,0.0,0.002813,0.000297,0.0
2,0.000000,0.000008,0.000000,0.000000,0.004691,0.0,0.0,0.000758,1.604213e-05,0.000000,...,0.008730,0.0,0.000000,0.001317,0.0,0.0,0.0,0.000000,0.000143,0.0
3,0.004148,0.000000,0.003056,0.000000,0.000614,0.0,0.0,0.002436,8.143890e-05,0.003985,...,0.012595,0.0,0.000000,0.000000,0.0,0.0,0.0,0.001742,0.006720,0.0
4,0.000000,0.000568,0.004919,0.000000,0.000000,0.0,0.0,0.000089,4.260410e-05,0.000000,...,0.001810,0.0,0.000000,0.000017,0.0,0.0,0.0,0.000192,0.001352,0.0

# cosine similarity to find similar articles

In [16]:
# Normalize the NMF features: norm_features
norm_features =normalize(nmf_features)

# Create a DataFrame: df
df = pd.DataFrame(norm_features,index=titles)
df.index.names = ['titles']
df.head()

                          0    1    2    3    4         5
titles
HTTP 404           0.000000  0.0  0.0  0.0  0.0  1.000000
Alexa Internet     0.000000  0.0  0.0  0.0  0.0  1.000000
Internet Explorer  0.009583  0.0  0.0  0.0  0.0  0.999954
HTTP cookie        0.000000  0.0  0.0  0.0  0.0  1.000000
Google Search      0.000000  0.0  0.0  0.0  0.0  1.000000

In [17]:
# Select the row corresponding to 'Cristiano Ronaldo': article
article = df.loc['Cristiano Ronaldo']

# Compute the dot products: similarities
similarities = df.dot(article)

# Display those with the largest cosine similarity
print(similarities.nlargest())

titles
Cristiano Ronaldo                1.000000
Franck RibÃ©ry                    0.999972
Radamel Falcao                   0.999942
Zlatan IbrahimoviÄ‡               0.999942
France national football team    0.999923
dtype: float64